body {
  color: $color-primary;
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
.title {
  color: $color-primary;
  display: block;
  line-height: 130%;
  letter-spacing: 0%;
  margin: 0 0 30px 0;
}

.title--2,
.title--1,
h1,
h2 {
  font-size: 38px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.title--3,
h3 {
  font-size: 30px;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.title--4,
h4 {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.title--5,
h5 {
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.paragraph,
.card-body,
p {
  color: $color-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &--highlight {
    padding-left: 10px;
    border-left: 2px solid $color-accent;

    @media (max-width: 768px) {
      border-left: none;
      text-align: center;
    }
  }
}

a,
.link {
  color: $color-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;

  &:hover {
    color: rgb(221, 59, 26);
  }

  &.button:hover {
    color: $color-white;
  }

  &:active {
    color: rgb(221, 59, 26);
  }

  &:focus {
    color: rgb(221, 59, 26);
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

small {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
