.price {
  & .col-xl-6:nth-child(1) .price__table {
    padding-right: 30px;
  }

  & .col-xl-6:nth-child(2) .price__table {
    padding-left: 30px;
  }

  @media (max-width: 1250px) {
    & .col-xl-6:nth-child(1) .price__table {
      padding-right: 0;
    }

    & .col-xl-6:nth-child(2) .price__table {
      padding-left: 0;
    }
  }

  &__form {
    margin-bottom: 40px;

    @media (max-width: 1250px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__table {
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__map {
    @media (max-width: 1250px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @media (max-width: 990px) {
      text-align: center;
    }
  }
}
