.products-collection {}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__image {
    border-radius: 10px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    
  }

  &__desc {
    display: -webkit-box;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    height: 98px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  &__button {
    margin: 0 auto;

    @media (max-width: 1250px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}