.reviews {

  &-collection {
    & .col-md-6 {
      margin-bottom: 20px;
    }
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;

    @media (max-width: 1250px) {
      margin-bottom: 30px;
      align-items: flex-start;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 0;

      @media (max-width: 1250px) {
        margin-bottom: 30px;
      }

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    &__buttons {
      display: flex;
      gap: 10px;

      @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;

        & > * {
          max-width: 275px;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  &__title {
    @media (max-width: 1250px) {
      text-align: center;
    }
  }

  &-slider {
    @media (max-width: 768px) {

      & .swiper-button-prev,
      & .swiper-button-next {
        display: none;
      }
    }
  }

  &__button {
    margin-top: 30px;

    @media (max-width: 1250px) {
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      display: block;
      max-width: 283px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}