.button,
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  cursor: pointer;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(221, 59, 26);
  padding: 13px 20px;
  background: rgb(221, 59, 26);
  text-decoration: none;
  transition: 0.3s ease, transform 0.3s ease-in-out;

  @media (max-width: 1250px) {
    padding: 10px 20px;
  }

  &--lg {
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &:focus {
    background: rgb(201, 39, 6);
    border-color: rgb(221, 59, 26);
    box-shadow: none;
  }

  &:active {
    background: rgb(201, 39, 6);
    border-color: rgb(221, 59, 26);
    box-shadow: none;
  }

  &:active:focus {
    background: rgb(201, 39, 6);
    border-color: rgb(221, 59, 26);
    box-shadow: none;
  }

  &:hover {
    background: rgb(201, 39, 6);
    border-color: rgb(221, 59, 26);
    box-shadow: none;
  }

  &--white {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-white;

    &:focus {
      color: $color-accent;
      background-color: $color-white;
      border-color: $color-white;
      box-shadow: none;
    }

    &:active {
      color: $color-accent;
      background-color: $color-white;
      border-color: $color-white;
      box-shadow: none;
    }

    &:active:focus {
      color: $color-accent;
      background-color: $color-white;
      border-color: $color-white;
      box-shadow: none;
    }

    &:hover {
      color: $color-accent;
      background-color: $color-white;
      border-color: $color-white;
      box-shadow: none;
    }
  }

  &--bordered {
    background-color: $color-white;
    color: $color-accent;
  }
}
