.button {
  display: inline-block;
  font-family: Inter;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(221, 59, 26);
  padding: 13px 20px;
  background: rgb(221, 59, 26);
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;


  @media (max-width: 1250px) {
    padding: 10px 20px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &:focus {
    background: rgb(201, 39, 6);
  }

  &:active {
    background: rgb(201, 39, 6);
  }

  &:hover {
    background: rgb(201, 39, 6);
  }
}
