.card {
  border-radius: 10px;
  background: #f8f6f7;
  padding: 30px 26px;
  border: none;

  &-body {
    padding: 0;
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 136px;
    width: 100%;
  }

  &-badge {
    border-radius: 30px;
    background: #ffeeec;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 5px 10px;
  }

  &-title {
    color: $color-primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 8px;
  }

  &-subtitle {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 14px;
  }

  &-text {
    color: $color-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  /* <div class="card">
  <div class="card-body">
    <h5 class="card-title">Иванова Анна</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      ООО “Наш клиент”
    </h6>
    <p class="card-text">
      Отлично! Рекомменд однозначно! Пользовались услугами
      данной компании 2 раза, и оба раза очень удачно: все
      вовремя, ребята вежливые, ответственные, все делают
      очень оперативно и добротно.
    </p>
  </div>
</div> */
}
