.dropdown-toggle {
  display: inline-flex;
  align-items: center;

  &::after {
    display: inline-flex;
    align-items: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7.003418" height="3.001953" viewBox="0 0 7.00342 3.00195" fill="none"><desc>Created with Pixso.</desc><defs/><path id="Vector" d="M6.50171 0.501953L3.50171 2.50195L0.501709 0.501953" stroke="%23666666" stroke-opacity="1.000000" stroke-width="1.000000" stroke-linejoin="round" stroke-linecap="round"/></svg>');
    border: none;
    vertical-align: 0;
    height: 3px;
    width: 7px;
    background-repeat: no-repeat;
    margin-left: 0.555em;

    @media (max-width: 1250px) {
      margin-left: auto;
      rotate: 270deg;
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: $color-accent;
}

.collapse-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;

  border-radius: 0px 0px 10px 10px;
  background: #fdfdfd;
  box-shadow: 0px 10px 25px 0px rgba(15, 27, 3, 0.03);
  padding: 20px;

  & li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
  }
}

.collapse-custom {
  position: absolute;
  left: -20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin: 0;
  max-height: 0;
  z-index: 100;
  @media (max-width: 1250px) {
    position: static;
  }
}

.collapse-custom.show {
  position: absolute;
  left: -20px;
  max-height: 284px;
  overflow: viisible;

  @media (max-width: 1250px) {
    position: static;
  }
}
