.nav {
  gap: 24px;
}

.navbar-toggler {
  position: relative;
  padding: 0;
  border: none;
}

.nav-link {
  color: rgb(34, 34, 34);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding: 13px 0;

  &:hover {
    color: rgb(221, 59, 26);
  }
  &:active {
    color: rgb(221, 59, 26);
  }
  &:focus {
    color: rgb(221, 59, 26);
  }
}
