<!-- Другие варианты перевозок -->
<div class="section">
  <div class="container">
    <div class="directions">
      <h2 class="directions__title title title--2">
        Другие варианты перевозок
      </h2>

      <div class="directions-slider slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="directions-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-image">
                      <img src="./images/directions/goods.png" alt="" />
                    </div>
                    <div class="card-title">Вещи</div>
                    <div class="card-badge">от 26 000 руб.</div>
                    <a class="card-button button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="directions-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-image">
                      <img src="./images/directions/cargo.png" alt="" />
                    </div>
                    <div class="card-title">Груз</div>
                    <div class="card-badge">от 26 000 руб.</div>
                    <a class="card-button button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="directions-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-image">
                      <img src="./images/directions/container.png" alt="" />
                    </div>
                    <div class="card-title">Контейнер</div>
                    <div class="card-badge">от 26 000 руб.</div>
                    <a class="card-button button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="directions-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-image">
                      <img src="./images/directions/car.png" alt="" />
                    </div>
                    <div class="card-title">Автомобили</div>
                    <div class="card-badge">от 26 000 руб.</div>
                    <a class="card-button button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="directions-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-image">
                      <img src="./images/directions/cargo-sm.png" alt="" />
                    </div>
                    <div class="card-title">Малогабарит</div>
                    <div class="card-badge">от 26 000 руб.</div>
                    <a class="card-button button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Другие варианты перевозок -->
