<!-- Часто задаваемые вопросы -->
<section class="section">
  <div class="container">
    <h2 class="faq-title title title-2">Часто задаваемые вопросы</h2>

    <div class="faq">
      <div class="faq-item">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-faq-1"
          aria-expanded="false"
          aria-controls="collapse-faq-1"
        >
          Сколько времени занимает оформление документов?
        </button>
        <div class="collapse" id="collapse-faq-1">
          <div class="card card-body">
            Some placeholder content for the collapse component. This
            panel is hidden by default but revealed when the user
            activates the relevant trigger.
          </div>
        </div>
      </div>
      <div class="faq-item">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-faq-2"
          aria-expanded="false"
          aria-controls="collapse-faq-2"
        >
          Сколько времени занимает оформление документов?
        </button>
        <div class="collapse" id="collapse-faq-2">
          <div class="card card-body">
            Some placeholder content for the collapse component. This
            panel is hidden by default but revealed when the user
            activates the relevant trigger.
          </div>
        </div>
      </div>
      <div class="faq-item">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-faq-3"
          aria-expanded="false"
          aria-controls="collapse-faq-3"
        >
          Сколько времени занимает оформление документов?
        </button>
        <div class="collapse" id="collapse-faq-3">
          <div class="card card-body">
            Some placeholder content for the collapse component. This
            panel is hidden by default but revealed when the user
            activates the relevant trigger.
          </div>
        </div>
      </div>
      <div class="faq-item">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-faq-4"
          aria-expanded="false"
          aria-controls="collapse-faq-4"
        >
          Сколько времени занимает оформление документов?
        </button>
        <div class="collapse" id="collapse-faq-4">
          <div class="card card-body">
            Some placeholder content for the collapse component. This
            panel is hidden by default but revealed when the user
            activates the relevant trigger.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Часто задаваемые вопросы -->