  <!-- Автопарк компании на высшем уровне -->
  <section class="section">
    <div class="container container--ph-full">
      <div class="fleet">
        <div class="fleet__view">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="fleet__gallery">
                <img
                  src="./images/fleet/gallery-1.png"
                  alt="Автопарк компании на высшем уровне"
                />
                <img
                  src="./images/fleet/gallery-2.png"
                  alt="Автопарк компании на высшем уровне"
                /><img
                  src="./images/fleet/gallery-3.png"
                  alt="Автопарк компании на высшем уровне"
                />
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <h2 class="fleet__title title title--2">
                Автопарк компании на высшем уровне
              </h2>
              <div class="advantages">
                <div class="advantages-item">
                  <div class="advantages-item__icon">
                    <img
                      src="./images/icons/sun.svg"
                      alt="Есть над чем задуматься"
                    />
                  </div>
                  <p class="advantages-item__desc">
                    Есть над чем задуматься: сделанные на базе
                    интернет-аналитики выводы в равной степени предоставлены
                    сами себе!
                  </p>
                </div>
                <div class="advantages-item">
                  <div class="advantages-item__icon">
                    <img
                      src="./images/icons/star.svg"
                      alt="Показатели успешности"
                    />
                  </div>
                  <p class="advantages-item__desc">
                    Принимая во внимание показатели успешности,
                    высокотехнологичная концепция общественного уклада
                    предполагает независимые способы реализации форм
                    воздействия.
                  </p>
                </div>
                <div class="advantages-item">
                  <div class="advantages-item__icon">
                    <img
                      src="./images/icons/water.svg"
                      alt="Cинтетическое тестирование"
                    />
                  </div>
                  <p class="advantages-item__desc">
                    Безусловно, синтетическое тестирование, в своём
                    классическом представлении, допускает внедрение системы
                    обучения кадров, соответствующей насущным потребностям.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fleet__about">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="paragraph paragraph--highlight">
                <div class="title title--5">Наша цель</div>

                В своём стремлении повысить качество жизни, они забывают,
                что консультация с широким активом не даёт нам иного выбора,
                кроме определения укрепления моральных ценностей.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="paragraph paragraph--highlight">
                <div class="title title--5">Наша миссия</div>
                С широким активом не даёт нам иного выбора, кроме
                определения укрепления моральных ценностей.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Автопарк компании на высшем уровне -->