 <!-- Футер -->
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="footer-left footer-left--main">
          <div class="footer-logo logo">
            <a href="/">
              <img src="./images/logo.svg" alt="Логистический Центр" />
            </a>
          </div>
          <a href="">Политика конфиденциальности</a>
          <span
            >Все права защищены 2024 ©<br />
            ТК Логистический Центр</span
          >
          <a href="">Разработка сайта - WPNEW</a>
        </div>
      </div>

      <div class="col-md-8 col-xl-6">
        <div class="footer-center">
          <div class="footer-menu">
            <div class="footer-subtitle">Типы перевозок</div>
            <ul>
              <li><a href="">Перевозка фурами</a></li>
              <li><a href="">Перевозка газелями</a></li>
              <li><a href="">Рефрижераторная перевозка</a></li>
              <li><a href="">Малотоннажные перевозки</a></li>
            </ul>
            <ul>
              <li><a href="">Негабаритная перевозка</a></li>
              <li><a href="">ЖД перевозки</a></li>
              <li><a href="">Перевозка опасных грузов</a></li>
              <li><a href="">Коники (перевозка труб/леса)</a></li>
            </ul>
          </div>

          <div class="footer-menu">
            <div class="footer-subtitle">
              Грузоперевозки​ по России и СНГ
            </div>
            <ul>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
            </ul>
            <ul>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
              <li><a href="">Москва-Казань</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-3">
        <div class="footer-right">
          <div class="footer-info">
            <div class="footer-subtitle">Контакты</div>

            <a href="tel:+7(123)456-78-90" class="footer-tel">
              +7 (123) 456-78-90
            </a>
            <a href="mailto:logi.center@yandex.ru" class="footer-email"
              >logi.center@yandex.ru</a
            >
          </div>

          <div class="footer-info">
            <small class="footer-info-title">Адрес:</small>
            <p class="footer-info-text">
              429950, Чувашская Республика, г. Новочебоксарск,
              ул. Винокурова, д. 10, оф.219 ИНН 2124045505 ОГРН
              1182130010370
            </p>
          </div>

          <div class="footer-info">
            <small class="footer-info-title">График работы:</small>
            <p class="footer-info-text">
              Пн-Пт 08:00 — 17:00 <br />
              Сб-Вс 10:00 — 14:00
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 d-lg-none">
        <div class="footer-left">
          <a href="">Политика конфиденциальности</a>
          <span
            >Все права защищены 2024 ©<br />
            ТК Логистический Центр</span
          >
          <a href="">Разработка сайта - WPNEW</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Футер -->

<!-- Модальные окна -->
<div
  class="modal fade"
  id="modal-callback"
  tabindex="-1"
  aria-labelledby="modal-callback-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-callback-label">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- /Модальные окна -->