<!-- Шапка -->
<header class="header">
  <div class="header-tablet">
    <div class="container">
      <div class="header-container">
        <div class="header-tablet__left">
          <div class="header-logo logo">
            <a href="/">
              <img src="./images/logo.svg" alt="Логистический Центр" />
            </a>
          </div>
        </div>
        <div class="header-tablet__right">
          <div class="header-contacts">
            <a class="header-contacts__tel" href="tel:+7(123)456-78-90"
              >+7 (123) 456-78-90</a
            >
            <a class="header-contacts__mail" href="mailto:mail@mail.ru"
              >mail@mail.ru</a
            >
            <a class="header-contacts__phone" href="tel:+7(123)456-78-90">
              <span class="icon">
                <img
                  src="./images/icons/phone.svg"
                  alt="+7(123)456-78-90"
                />
              </span>
            </a>
          </div>
          <div class="header-callback">
            <button
              class="button"
              data-bs-toggle="modal"
              data-bs-target="#modal-callback"
            >
              Заказать звонок
            </button>
          </div>
          <div class="header-burger">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#header-collapse"
              aria-controls="header-collapse"
              aria-expanded="true"
              aria-label="Переключить навигацию"
            >
              <div class="hamburger hamburger--spring">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-collapse">
    <div class="container">
      <div class="collapse show navbar-collapse" id="header-collapse">
        <div class="header-container">
          <div class="header-logo logo">
            <a href="/">
              <img src="./images/logo.svg" alt="Логистический Центр" />
            </a>
          </div>
          <div class="header-nav">
            <nav class="nav">
              <li
                class="nav-item dropdown"
                data-collapse-custom-target="c-1"
              >
                <a href="" class="nav-link dropdown-toggle"> Предметы </a>
                <div class="collapse-custom" id="c-1">
                  <ul class="collapse-menu">
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li
                class="nav-item dropdown"
                data-collapse-custom-target="c-2"
              >
                <a href="" class="nav-link dropdown-toggle"> Предметы </a>
                <div class="collapse-custom" id="c-2">
                  <ul class="collapse-menu">
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li
                class="nav-item dropdown"
                data-collapse-custom-target="c-3"
              >
                <a href="/" class="nav-link dropdown-toggle"> Предметы </a>
                <div class="collapse-custom" id="c-3">
                  <ul class="collapse-menu">
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Москва - Чебоксары</a
                      >
                    </li>
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">О компании</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Отзывы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
            </nav>
          </div>
          <div class="header-contacts">
            <a class="header-contacts__tel" href="tel:+7(123)456-78-90"
              >+7 (123) 456-78-90</a
            >
            <a class="header-contacts__mail" href="mailto:mail@mail.ru"
              >mail@mail.ru</a
            >
          </div>
          <div class="header-callback">
            <button
              class="button"
              data-bs-toggle="modal"
              data-bs-target="#modal-callback"
            >
              Заказать звонок
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /Шапка -->