<!-- Первый экран -->
<section class="section">
  <div class="container container--ph-full">
    <div class="hero">
      <div class="hero__heading">
        <h1 class="title title--1 hero__title">
          Междугородние грузоперевозки​ по России и СНГ доставим груз
          от 500 кг. до 100 тонн
        </h1>
        <div class="hero__subtitle">
          Работаем с НДС и без НДС, несём ответственность за сохранность
          груза, сроки и документы
        </div>
        <div class="hero__image">
          <img
            src="./images/hero/hero.png"
            alt="Междугородние грузоперевозки​ по России и СНГ доставим груз от 500 кг. до 100 тонн"
          />
        </div>
      </div>
      <div class="hero__form">
        <div class="form form-calculator">
          <div class="title title--2 form-calculator__title">
            Получить расчет стоимости
          </div>
          <div class="form-calculator__subtitle">
            Заполните форму и получите расчет стоимости Вашей перевозки за
            5 минут
          </div>
          <div class="form-calculator__container">
            <div class="form-group">
              <input
                type="text"
                name="from"
                class="form-control"
                placeholder="Откуда"
              />

              <input
                type="text"
                name="to"
                class="form-control"
                placeholder="Куда"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="type"
                class="form-control"
                placeholder="Тип груза"
              />

              <input
                type="number"
                name="weight"
                class="form-control"
                placeholder="Вес груза (в кг.)"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="weight"
                class="form-control"
                placeholder="Имя"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="tel"
                class="form-control"
                placeholder="Номер телефона"
              />
            </div>
            <button class="button">Получить расчет стоимости</button>
            <div class="form-text">
              Отправляя форму вы соглашаетесь с нашей
              <a href="">Политикой конфиденциальности</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Первый экран -->