 <!-- Наша техника  -->
 <section class="section">
  <div class="container">
    <div class="products">
      <h2 class="products__title title title--2">Наша техника</h2>
      <div class="products__subtitle title title--4">
        Готовы предоставить отдельный автомобиль специально под Ваш груз
      </div>

      <div class="products-collection">
        <div class="row g-0">
          <div class="col-lg-3 col-6">
            <div class="product-card">
              <div class="product-card__image">
                <img
                  src="./images/product/product.png"
                  alt="До 3 тонн и 14 м.куб."
                />
              </div>
              <div class="product-card__name">До 3 тонн и 14 м.куб.</div>
              <div class="product-card__desc">
                Грузовой микроавтобус. Вместителен для большинства
                негабаритных грузов, либо домашних переездов.
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="product-card__button button button--lg"
              >
                Получить расчет
              </button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-card">
              <div class="product-card__image">
                <img
                  src="./images/product/product-2.png"
                  alt="До 5 тонн и 25 м.куб."
                />
              </div>
              <div class="product-card__name">До 5 тонн и 25 м.куб.</div>
              <div class="product-card__desc">
                Автомобиль отлично подходит для паллетных перевозок груза
                небольших партий
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="product-card__button button button--lg"
              >
                Получить расчет
              </button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-card">
              <div class="product-card__image">
                <img
                  src="./images/product/product-3.png"
                  alt="До 10 тонн и 30 м.куб.."
                />
              </div>
              <div class="product-card__name">До 10 тонн и 30 м.куб.</div>
              <div class="product-card__desc">
                Лучшее решение, когда Вам важна безопасность Вашего груза,
                но не хватает объема до отдельной фуры
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="product-card__button button button--lg"
              >
                Получить расчет
              </button>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-card">
              <div class="product-card__image">
                <img
                  src="./images/product/product-4.png"
                  alt="До 20 тонн и 120 м.куб.."
                />
              </div>
              <div class="product-card__name">
                До 20 тонн и 120 м.куб.
              </div>
              <div class="product-card__desc">
                Классический автомобиль для перевозок габаритных или
                объемных грузов. Вместимость до 33 европалет.
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="product-card__button button button--lg"
              >
                Получить расчет
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Наша техника -->