<!-- Отзывы клиентов -->
<div class="section">
  <div class="container">
    <div class="reviews">
      <h2 class="reviews__title title title--2">Отзывы клиентов</h2>

      <div class="reviews-slider slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review-item">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Иванова Анна</div>
                    <div class="card-subtitle">ООО “Наш клиент”</div>
                    <p class="card-text">
                      Отлично! Рекомменд однозначно! Пользовались услугами
                      данной компании 2 раза, и оба раза очень удачно: все
                      вовремя, ребята вежливые, ответственные, все делают
                      очень оперативно и добротно.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review-item">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Иванова Анна</div>
                    <div class="card-subtitle">ООО “Наш клиент”</div>
                    <p class="card-text">
                      Отлично! Рекомменд однозначно! Пользовались услугами
                      данной компании 2 раза, и оба раза очень удачно: все
                      вовремя, ребята вежливые, ответственные, все делают
                      очень оперативно и добротно.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review-item">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Иванова Анна</div>
                    <div class="card-subtitle">ООО “Наш клиент”</div>
                    <p class="card-text">
                      Отлично! Рекомменд однозначно! Пользовались услугами
                      данной компании 2 раза, и оба раза очень удачно: все
                      вовремя, ребята вежливые, ответственные, все делают
                      очень оперативно и добротно.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review-item">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Иванова Анна</div>
                    <div class="card-subtitle">ООО “Наш клиент”</div>
                    <p class="card-text">
                      Отлично! Рекомменд однозначно! Пользовались услугами
                      данной компании 2 раза, и оба раза очень удачно: все
                      вовремя, ребята вежливые, ответственные, все делают
                      очень оперативно и добротно.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="" class="reviews__button button">
        Посмотреть все отзывы
      </a>
    </div>
  </div>
</div>
<!-- /Отзывы клиентов -->