 <!-- Популярные маршруты по России -->
 <div class="section">
  <div class="container">
    <div class="routes">
      <div class="routes__heading">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="routes__title title title--2">
              Популярные маршруты по России
            </h2>
          </div>
          <div class="col-lg-5">
            <small class="routes__small"
              >*цена указана за груз 1,5 т</small
            >
          </div>
        </div>
      </div>
      <div class="routes__container">
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="routes-item">
              <div class="routes-item__title title title--4">
                Москва - Чебоксары
              </div>
              <div class="routes-item__badges">
                <div class="badge">от 5 дней</div>
                <div class="badge">от 500 кг</div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button"
              >
                Получить расчет
              </button>

              <picture class="routes-item__bg">
                <source
                  media="(max-width:768px)"
                  srcset="./images/routes/m-ch--phone.png"
                />
                <img
                  src="./images/routes/m-ch.png"
                  alt="Москва - Чебоксары"
                />
              </picture>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="routes-item">
              <div class="routes-item__title title title--4">
                Чебоксары - Казань
              </div>
              <div class="routes-item__badges">
                <div class="badge">от 5 дней</div>
                <div class="badge">от 500 кг</div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button"
              >
                Получить расчет
              </button>
              <picture class="routes-item__bg">
                <source
                  media="(max-width:768px)"
                  srcset="./images/routes/ch-k--phone.png"
                />
                <img
                  src="./images/routes/ch-k.png"
                  alt="Москва - Казань"
                />
              </picture>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="routes-item">
              <div class="routes-item__title title title--4">
                Москва - Казань
              </div>
              <div class="routes-item__badges">
                <div class="badge">от 5 дней</div>
                <div class="badge">от 500 кг</div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button"
              >
                Получить расчет
              </button>
              <picture class="routes-item__bg">
                <source
                  media="(max-width:768px)"
                  srcset="./images/routes/m-k--phone.png"
                />
                <img
                  src="./images/routes/m-k.png"
                  alt="Москва - Казань"
                />
              </picture>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="routes-item">
              <div class="routes-item__title title title--4">
                Москва - Крым
              </div>
              <div class="routes-item__badges">
                <div class="badge">от 5 дней</div>
                <div class="badge">от 500 кг</div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button"
              >
                Получить расчет
              </button>
              <picture class="routes-item__bg">
                <source
                  media="(max-width:768px)"
                  srcset="./images/routes/m-kr--phone.png"
                />
                <img src="./images/routes/m-kr.png" alt="Москва - Крым" />
              </picture>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="routes-item">
              <div class="routes-item__title title title--4">
                Москва- Санкт-Петербург
              </div>
              <div class="routes-item__badges">
                <div class="badge">от 5 дней</div>
                <div class="badge">от 500 кг</div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button"
              >
                Получить расчет
              </button>

              <picture class="routes-item__bg">
                <source
                  media="(max-width:768px)"
                  srcset="./images/routes/m-s--phone.png"
                />
                <img
                  src="./images/routes/m-s.png"
                  alt="Москва- Санкт-Петербург"
                />
              </picture>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="routes-item routes-item--accent">
              <div class="title title--3">
                Нужно перевезти груз заграницу?
              </div>
              <p class="paragraph">
                Свяжитесь с нами
                <a href="tel:+7(123)456-78-90">+7 (123) 456-78-90</a> или
                оставьте заявку на сайте
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#modal-callback"
                class="routes-item__button button button--white"
                >Оставить заявку</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Популярные маршруты по России -->