 <!-- Типы перевозок -->
 <section class="section">
  <div class="container container--ph-full">
    <div class="service">
      <div class="title title--2 service__title">
        Типы перевозок, цены и сроки
      </div>
      <div class="service__collection">
        <div class="service-item service-item--white">
          <div class="service-item__title title title--4">
            Перевозка фурами
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item">
          <div class="service-item__title title title--4">
            Перевозка газелями
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item service-item--white">
          <div class="service-item__title title title--4">
            Коники/перевозка труб, леса
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item">
          <div class="service-item__title title title--4">
            Малотоннажные перевозки
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item">
          <div class="service-item__title title title--4">
            Негабаритная перевозка
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item service-item--white">
          <div class="service-item__title title title--4">
            ЖД перевозки
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>

        <div class="service-item">
          <div class="service-item__title title title--4">
            Перевозка опасных грузов
          </div>
          <div class="service-item__subtitle">
            когда груз нужен здесь и сейчас
          </div>
          <div class="service-item__badges">
            <div class="badge">от 5 дней</div>
            <div class="badge">от 500 кг</div>
          </div>
          <a href="#" class="service-item__button button button--lg"
            >Узнать подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Типы перевозок -->