:root {
  --color-primary: #222222;
  --color-accent: #DD3B1A;
  --color-accent-light: #FFEEEC;
  --color-white: #FFFFFF;
  --color-bg: #32312D;
}

$color-primary: var(--color-primary);
$color-accent: var(--color-accent);
$color-accent-light: var(--color-accent-light);
$color-white: var(--color-white);
$color-bg: var(--color-bg);